@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Colors */
  :root {
    --background: 216 13% 15%;
    --foreground: 219 18% 71%;
    --muted: 216 12% 19%;
    --muted-foreground: 216 12% 69%;
    --popover: 216 13% 12%;
    --popover-foreground: 219 18% 81%;
    --card: 216 13% 13%;
    --card-foreground: 219 18% 76%;
    --border: 216 3% 20%;
    --input: 216 3% 23%;
    --primary: 219 18% 81%;
    --primary-foreground: 219 18% 21%;
    --secondary: 219 8% 25%;
    --secondary-foreground: 219 8% 85%;
    --accent: 216 13% 30%;
    --accent-foreground: 216 13% 90%;
    --accent-foreground-special: 212 77% 57%;
    --destructive: 3 95% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 219 18% 81%;
    /* --background: 220 29% 6%;
    --foreground: 47 7% 73%;
    --muted: 220 12% 15%;
    --muted-foreground: 220 12% 65%;
    --popover: 220 29% 3%;
    --popover-foreground: 47 7% 83%;
    --card: 220 29% 4%;
    --card-foreground: 47 7% 78%;
    --border: 220 19% 11%;
    --input: 220 19% 14%;
    --primary: 40 75% 61%;
    --primary-foreground: 40 75% 1%;
    --secondary: 40 30% 25%;
    --secondary-foreground: 40 30% 85%;
    --accent: 220 29% 21%;
    --accent-foreground: 220 29% 81%;
    --destructive: 2 90% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 40 75% 61%; */
--radius: 0.5rem;
  }

  /* ===================================================== */

  /* Experiences */

  html {
    scroll-behavior: smooth;
  }
  
  .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 20.5% auto;
  }

  .exp-slider {
    list-style-type: none;
    position: relative;
    height: max-content;
  }

  .underlineSpecial {
    background-color: hsl(var(--accent-foreground));
    position: absolute;
    left: -0.5px;
    top: 0;
    height: 2.5rem;
    width: 3px;
    transition: 0.3s ease-in-out;
  }

  .exp-slider::before {
    position: absolute;
    left: -0px;
    content: "";
    height: 100%;
    width: 2px;
    background-color: hsl(var(--card));
  }

  .exp-slider-item {
    height: 2.5rem;
    padding: 0 1.25rem;
    display: flex;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    color: hsl(var(--primary));
  }

  .exp-slider-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(var(--muted-foreground));
    font-family: var(font-mono);
  }

  .exp-slider-item:hover span {
    color: var(--background);
  }

  .exp-slider-item-selected {
    color: hsl(var(--accent-foreground));
  }

  .exp-details {
    height: 20vh;
  }
  
  @media screen and (max-width: 767px) {
    ::after {
      width: 100px;
    }
  }

  @media screen and (max-width: 767px) {
    .container {
      grid-template-columns: 1fr;
    }

    .exp-details {
      height: max-content;
    }

    .exp-slider {
      display: flex;
      overflow-x: scroll;
    }

    .exp-slider::before {
      display: none;
    }

    .underlineSpecial {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .experience {
      width: 100%;
    }

    .container {
      grid-template-columns: 1fr;
      width: 100%;
    }

    .exp-details {
      height: max-content;
      width: 100%;
    }

    .exp-slider {
      display: flex;
      overflow-x: scroll;
    }

    .exp-slider::before {
      display: none;
    }

    .underlineSpecial {
      display: none;
    }
    .title h2::after {
      display: none;
    }
  }

  /* ===================================================== */

  .projects {
    margin: 15rem 0;
  }
  .title {
    font-family: var(--font-sans);
    color: hsl(var(--destructive));
    position: relative;
  }

  h2 {
    font-size: var(--tx2large);
    font-weight: 700;
  }
  h2::before {
    counter-increment: title;
    margin-right: 0.5rem;
  }

  h2::after {
    content: "";
    display: block;
    position: absolute;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .project {
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    color: hsl(var(--muted-foreground));
    align-items: center;
  }
  .project-image-container {
    position: relative;
    width: 450px;
    height: 275px;
  }
  .project-image {
    position: relative;
    top: 0;
    margin-right: auto;
    left: 0;
  }
  .project-image:hover img {
    filter: none;
  }
  .project-image-overlay {
    transition: 0.3s ease-in-out;
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--popover) / 0);
    border-radius: 0.25rem;
  }
  .project-image img {
    z-index: 0;
    filter: grayscale(90%);
    transition: 0.3s ease-in-out;
    object-fit: cover;
  }
  .project-info {
    z-index: 5;
    width: 600px;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    gap: 0.5rem;
  }
  .project-info-overline {
    color: hsl(var(--primary));
    font-family: var(--font-geist-mono);
  }
  .project-info-title {
    width: max-content;
    color: hsl(var(--foreground));
    font-family: var(--font-geist-sans);
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    font-weight: 500;
    transition: 0.3s ease-in-out;
  }
  .project-info-description {
    background-color: hsl(var(--card));
    border-radius: 0.25rem;
  }
  .project-info-description p {
    color: hsl(var(--muted-foreground));
    padding: 1rem;
    text-align: end;
  }
  .project-info-tech-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .project-info-tech-list-item {
    background-color: hsl(var(--accent) / 0.3);
    border-width: 1px;
    border-color: hsl(var(--accent));
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0.125rem;
    padding-top: 0.125rem;
    border-radius: calc(var(--radius) - 4px);
    color: hsl(var(--primary)); /* text-primary */
    font-family: var(--font-geist-mono); /* font-mono */
    transition: colors 0.15s ease-in-out; /* transition-colors */
  }
  .project-info-tech-list-item:hover {
    background-color: hsl(var(--accent) / 0.5);
  }

  .project-info-links {
    font-size: var(--tlarge2);
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-top: auto;
  }
  .project-info-links-item {
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project-info-links-item-link {
    padding: 0.25rem;
    color: hsl(var(--foreground));
    transition: 0.3s ease-in-out;
    outline: 2px dashed transparent;
  }
  .project-info-links-item-link:hover {
    color: hsl(var(--accent-foreground));
  }
  .project:nth-of-type(even) {
    justify-content: flex-start;
  }
  .project:nth-of-type(even) .project-image {
    right: 0;
    left: initial;
    margin-left: auto;
    margin-right: 0;
  }
  .project:nth-of-type(even) .project-info {
    align-items: flex-start;
  }
  .project:nth-of-type(even) .project-info-tech-list {
    justify-content: flex-start;
  }
  .project:nth-of-type(even) .project-info-description p {
    text-align: start;
    /* color: hsl(var(--destructive)); */
  }
  @media screen and (max-width: 767px) {
    .project-image img {
      filter: grayscale(90%) brightness(0.85);
    }
    .project:nth-of-type(even) .project-info-tech-list {
      justify-content: flex-end;
    }  
    .projects-container {
      align-items: center;
    }
    .project {
      justify-content: flex-start;
    }
    .project-info {
      width: 100%;
      height: 100%;
      align-items: flex-start;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;
      gap: 0.75rem;
      position: relative;
    }
    project-info-title {
      max-width: 100%;
    }
    .project-info-description {
      background-color: transparent;
    }

    .project-info-description p {
      padding: 0;
      text-align: start;
    }

    .project-image {
      width: 100%;
      position: absolute;
      height: 100%;
    }

    .project-image-container {
      width: 100%;
      height: 100%;
    }
    .project:nth-of-type(even) .project-image {
      left: 0;
      right: initial;
    }
  }
  @media screen and (max-width: 500px) {
    .project-info {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;
    }
  }
  @media screen and (max-width: 370px) {
    .project-info {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  /* @media screen and (max-width: 680px) {
    .projects {
      margin: 5rem 0;
    }
    .project-image-container {
      width: 500px;
      height: 300px;
    }
    .project-info {
      width: 500px;
      height: 300px;
    }
  }
  @media screen and (max-width: 600px) {
    .project-image-container {
      width: 350px;
      height: 400px;
    }
    .project-info {
      width: 350px;
      height: 400px;
    }
  }
  @media screen and (max-width: 968px) {
    h2::after {
      width: 100px;
    }
  }
  @media screen and (max-width: 600px) {
    h2::after {
      display: none;
    }
  } */

  /* ===================================================== */

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 0.65em;
    height: 0.65em;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--card));
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--accent));
    border: 0.15em solid hsl(var(--card));
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--primary-foreground));
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
